---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { CATEGORIES_DATA, CATEGORIES_LIST, SITE_TITLE, type CategoryInfo } from "../constants";

type CategoryData = {
  category: CategoryInfo;
  articles: {
    title: string;
    path: string;
    pubDate: Date;
  }[];
};

// すべての記事をカテゴリごとに取得する
const allArticles: CategoryData[] = [];
for (const cat of CATEGORIES_LIST) {
  const entries = await getCollection(cat, ({ data }) => {
    return data.publish;
  });
  const articles = entries.map((v) => ({
    title: v.data.title,
    path: `${v.collection}/${v.slug}`,
    pubDate: v.data.pubDate,
  }));
  allArticles.push({ category: CATEGORIES_DATA[cat], articles } satisfies CategoryData);
}
---

<Layout title={SITE_TITLE}>
  <main>
    {
      allArticles.map((categoryData) => {
        return (
          <>
            <div class="category-title">{categoryData.category.title}</div>
            <ul>
              {categoryData.articles.map((v) => {
                return (
                  <li>
                    <a href={v.path}>{v.title}</a>{" "}
                    <span class="date">({v.pubDate.toISOString().slice(0, 10)})</span>
                  </li>
                );
              })}
            </ul>
          </>
        );
      })
    }
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: black;
  }
  ul {
    margin-top: 0.2rem;
    line-height: 1.4;
  }
  .category-title {
    font-weight: bold;
  }
  .date {
    font-size: small;
  }
</style>
